@using CloudSite.Models.Photos
@model List<Photo>

<h2>Gallery</h2>

<div>
    <div>
        @using (Html.BeginForm("GalleryTag", "Home", FormMethod.Post))
        {
            <input type="text" name="Tag" /><br><br>
            <input type="submit" value="Search tag" />
            <br><br>
        }
    </div>

    @foreach (Photo photo in Model)
    {
        <a href="@Url.Action("SinglePhoto", new { photoId = photo._id.ToString() })">
            <img src="@photo.PhotoPhatWhitSasKey">
        </a>
    }
</div>
