
@{
    ViewBag.Title = "Company";
}

<h2>Company</h2>
<img src="https://www.lavoroediritti.com/wp-content/uploads/2017/07/consegna-azienda-1.jpg" alt="Company"/>

<p><br/>Ricordati che la vita è bella! :)</p>

