
@{
    Layout = null;
}

<h2>Gallery</h2>

<div>
    <div>
        @using (Html.BeginForm("GalleryTag", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="text" name="tag" id="tag" /><br><br>
            <input type="submit" value="Search tag" />
            <br><br>
        }
    </div>
    @foreach (string link in ViewBag.images)
    {
        <p>
            <img src="@link" />
        </p>
    }
</div>

