@using CloudSite.Models
@model ImageLinks

@{
    Layout = null;
}

<h2>Gallery</h2>

<div>
    <div>
        @using (Html.BeginForm("GalleryTag", "Home", FormMethod.Post))
        {
            <input type="text" name="Tag"/><br><br>
            <input type="submit" value="Search tag" />
            <br><br>
        }
    </div>
    @foreach (string link in Model.ImgLinks)
    {
        <p>
            <img src="@link" />
        </p>
    }
</div>
