
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <p>Home page</p><br>
        <p>User id = @ViewBag.user_id</p>
        <p>User email = @ViewBag.userEmail</p>
        <p>User name = @ViewBag.userName</p>
    </div>
</body>
</html>
