
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <button>@Html.ActionLink("Login", "Login", "Auth")</button>
        <button>@Html.ActionLink("Sign In", "SignIn", "Auth")</button>
    </div>
</body>
</html>
