
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</head>
<body>
    <div class="jumbotron text-left">
        <h3>Scelga una opzione<br /></h3>
        <button>@Html.ActionLink("Login", "Login", "Auth")</button>
        <button>@Html.ActionLink("Sign In", "SignIn", "Auth")</button>
    </div>
</body>
</html>
