
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post">
            Email:<br>
            <input type="text" name="userEmailForLogin"><br><br>
            Password:<br>
            <input type="password" name="userPasswordForLogin"><br><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</body>
</html>
