
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <p>Email:<br></p>
            <input type="text" name="UserEmailForLogin"><br><br>
            <p>Password:<br></p>
            <input type="password" name="UserPasswordForLogin"><br><br>
            <input type="submit" value="Submit" class="submit">
        }
        </div>
</body>
</html>
