@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendedEmail</title>
</head>
<body>
    <div> 
        <p>Abbiamo inviato un'email di verifica!</p>
    </div>
</body>
</html>
