
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <div>
        <form method="post">
            Name:<br>
            <input type="text" name="userName"><br><br>
            Email:<br>
            <input type="text" name="userEmail"><br><br>
            Password:<br>
            <input type="password" name="userPassword"><br><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</body>
</html>
