
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post))
        {
            <p>Name:<br></p>
            <input type="text" name="UserName"><br><br>
            <p>Email:<br></p>
            <input type="text" name="UserEmail"><br><br>
            <p>Password:<br></p>
            <input type="password" name="UserPassword"><br><br>
            <input type="submit" value="Submit" class="submit">
        }
    </div>
</body>
</html>
