
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</head>
<body>
    <div class="jumbotron text-left">
        <form method="post">
            <h3>Inserisca i dati per registrarsi<br /></h3>
            Name:<br>
            <input type="text" name="userName"><br><br>
            Email:<br>
            <input type="text" name="userEmail"><br><br>
            Password:<br>
            <input type="password" name="userPassword"><br><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</body>
</html>
